<!DOCTYPE html>


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

<body>
    <div class="container" style="padding-top: 10px;">
        <div id="time">
            <div class="card">
                <li class="+'list-group-item'+">
                    <h4>asdasd</h4>
                </li>
                <li class="+'list-group-item'+">
                    <h6> asdasd</h6>
                </li>
                <li class="+'list-group-item'+">
                    <p> sadasdasd</p>
                </li>
                <li class="+'list-group-item'+">
                    <p>asdasdasd</p>
                </li>
                <li class="+'list-group-item'+"><a class="+'btn btn-primary'+" href="+'./'+streamTask[i].TaskID+"
                        role="+'button'+">asdasdsad</a></li>
                </ul>
            </div>
        </div>
    </div>
</body>