<!DOCTYPE html>


<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <style>
    .hidden{
      visibility: hidden;
    }
  </style>
</head>

<body>
  <div class="container" style="padding-top: 10px;">
    <div id="time" >

    </div>
  </div>
</body>

<script type="text/javascript">

  window.onload = startInterval;
  function startInterval() {
    startTime()
    setInterval("startTime();", 5000);
  }

  function startTime() {
    var x = ""
    var card = '"card"'
    var lioptimize = "<li class="+'list-group-item'+">"
    var hiddentextbox = "<input class="+'hidden'+" type="+'text'+" id="+'TaskID'+" name="+'TaskID'+" value="
    var streamTask = []
    fetch('./stream/json')
      .then((response) => {
        return response.json();
      })
      .then((myJson) => {
        streamTask = myJson
        for (i in streamTask) {
          x += "<div class=" + card + ">"
          x += lioptimize+"<h4 >Requested ID " + streamTask[i].TaskID + "</h4></li>"
          x += lioptimize+"<h6> Requested By: " + streamTask[i].RequestedUser + "</h6></li>"
          x += lioptimize+"<p> Task Given: " + streamTask[i].Task + "</p></li>"
          x += lioptimize+"<p>" + streamTask[i].Platform + "</p></li>"
          x += lioptimize+"<form action="+'./stream'+" method="+'POST'+">"+ "<input type="+'submit'+" value=" + "MarkAsDone" + ">" + hiddentextbox + streamTask[i].TaskID +"></form> </li>"
          x += "</div>"
        }

        document.getElementById('time').innerHTML = x
      });
  }
</script>
