<header>
    <header>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    </header>
</header>

<body>
    <div class="container">
        <hr>
        <h1>List of books</h1>
        <hr>
        <div>
            <% streamTask.forEach(function (streamTask) { %>
            <div class="card">
                <h4><%= streamTask.taskID %></h4>
                <h6><%= streamTask.user %></h6>
                <p><%= streamTask.task %></p>
                <p><%= streamTask.platofrm %></p>
            </div>
            <% }) %>
        </div>
    </div>
</body>