<header>
    <header>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    </header>
</header>

<body>
    <div class="container">
        <hr>
        <h1>List of books</h1>
        <hr>
        <div>
            <% tasklist.forEach(function (tasklist) { %>
            <div class="card">
                <h4><%= tasklist.id %></h4>
                <h6><%= tasklist.pavadinimas %></h6>
                <p><%= tasklist.terminas %></p>
            </div>
            <% }) %>
        </div>
    </div>
</body>